# Common ignore files
build/*
docs/build/*
tests/data/tmp
.cccc
test_params.h

scenes/*
!scenes/README.md
!scenes/download.py

shader_location.h

docs/xml

# CLion
.idea/*
cmake-build-debug/*
cmake-build-release/*

# MacOSX ignore files
.DS_Store
.cproject
.project
